### IntelliJ IDEs ###
.idea/modules
.idea/modules.xml
.idea/*.iml
.idea/misc.xml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# PyPI configuration file
.pypirc

# mkdocs-oreui-extension
/mkdocs_oreui_extension/stylesheets/*.css
